/* App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.app {
  text-align: center;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* nav, aside {
  width: 200px;
  padding: 20px;
  background-color: #333;
  color: white;
} */

nav ul, aside ul {
  list-style: none;
  padding: 0;
}

.main-container {
  flex: 1;
  padding: 20px;
}

.content-container {
  margin-bottom: 20px;
  padding: 20px;
}
